{{!
{
	"title": "Jason Aldean",
	"resources" : { 
		"vids" : "https://api.instagram.com/v1/users/self/media/liked?count=50&access_token=525436579.3e25ac2.c6c0be3f99394c8d8c74e76e3310524b" 
	},
	"preprocessor": "player.js",
	"name": "Jason Aldean"

}
}}
<div class="top-banner">
	{{> banner}}
</div>
<section class="wrapper">
	<div class="hash-info">
		{{> hash}}
	</div>
	<div class="logo-wrap">
		{{> logo}}
	</div>
	<div class="video_wrapper">
		{{> video}}
	</div>
	<div class="phone_wrapper">
		{{> phone}}
	</div>
	<div class="pre-order">
		{{> order}}
	</div>
	<div class="chat_wrapper">
			{{> chat}}
	</div>
	<footer>
		{{> footer}}
	</footer> 
</section>
