{{!
{
	"title": "Jason Aldean",
	"resources" : { 
		"vids" : "https://api.instagram.com/v1/users/self/media/liked?count=50&access_token=7846031.96c02b5.4299c26db37a40a7837c8af8308cee18",
		"moreVids" : "https://api.instagram.com/v1/users/self/media/liked?access_token=7846031.96c02b5.4299c26db37a40a7837c8af8308cee18&count=30&max_like_id=530731858561701792" 
	},
	"preprocessor": "player.js",
	"name": "Jason Aldean"

}
}}
<div class="top-banner">
	{{> banner}}
</div>
<section class="wrapper">
	<div class="hash-info">
		{{> hash}}
	</div>
	<div class="logo-wrap">
		{{> logo}}
	</div>
	<div class="video_wrapper">
		{{> video}}
	</div>
	<div class="phone_wrapper">
		{{> phone}}
	</div>
	<div class="pre-order">
		{{> order}}
	</div>
	<div class="chat_wrapper">
			{{> chat}}
	</div>
	<footer>
		{{> footer}}
	</footer> 
</section>
