<h1 class="logo">Jason Aldean</h1>
<a class="instagram" target="_blank" href="http://instagram.com/jasonaldean">Instagram</a>
<a class="facebook" target="_blank" href="http://facebook.com/jasonaldean">Facebook</a>