<img src="/images/dvd-cover.png" alt="dvd cover" class="dvd-cover" />
<h2>Exclusive <br/> signed copy!</h2>
<a href="http://www.jasonaldean.com/item/accessories/jason-aldean-night-train-to-georgia-dvd-pre-order-physical_3#.UjUgNxahC5R" target="_blank"><img src="/images/arrow.png" alt="pre-order" />pre-order now</a>