<section id="video_player" class="video_player">
    <video id="v">
        <source src="" type="video/mp4">
    </video>
    <div id="video-controls" class="controls">
        <button type="button" id="play-pause">Play</button>
        <input type="range" id="seek-bar" value="0">
        <button type="button" id="mute">Unmute</button>
        <input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
        <button type="button" id="full-screen">Full-Screen</button>
  </div>
</section>