<div class="usernames" id="usernames">
    
</div>
<div class="letterbox-top"></div>
<div class="letterbox-bottom"></div>
<section id="video_player1" class="video_player closed" >
    <video id="v1">
        <source src="" type="video/mp4" webkit-playsinline>
    </video>
</section>
<section id="video_player2" class="video_player closed">
    <video id="v2">
        <source src="" type="video/mp4" webkit-playsinline>
    </video>
</section>
<section id="video_player3" class="video_player ">
    <video id="v3">
        <source src="" type="video/mp4" webkit-playsinline>
    </video>
</section>
<div class="cover">
    <div class="play_img" id="play_img"></div>
    <div class="end_img closed" id="end_img">
        <p>iTunes Info</p>
    </div>
</div>
</section>
<audio id="a">
  <source src="" type="audio/mpeg">
</audio>