<div class="usernames" id="usernames"></div>
<section id="video_player1" class="video_player closed" >
    <video id="v1">
        <source src="" type="video/mp4" webkit-playsinline="webkit-playsinline">
    </video>
</section>
<section id="video_player2" class="video_player closed">
    <video id="v2">
        <source src="" type="video/mp4" webkit-playsinline="webkit-playsinline">
    </video>
</section>
<section id="video_player3" class="video_player ">
    <video id="v3">
        <source src="" type="video/mp4" webkit-playsinline="webkit-playsinline">
    </video>
</section>
<div class="cover">
    <div class="play_img" id="play_img"><img src="/images/play.png" alt="play" /><h1>Play Jason Aldean's Night Train Music Video Now and See if You've Been Featured!</h1></div>
    <div class="end_img closed" id="end_img">
        <img src="/images/play.png" alt="play" /><h1>Replay</h1>
    </div>
</div>
<div class="video-info">
    <p>Jason Aldean</p>
    <p>"Night Train"</p>
    <p>Night Train (2012)</p>
    <p>Broken Bow Records</p>
</div>
<audio id="a">
  <source src="" type="audio/mpeg">
</audio>