{{!
{
	"title": "Jason Aldean",
	"resources" : { 
		"vids" : "https://api.instagram.com/v1/users/self/media/liked?count=50&access_token=550831481.bbe784f.14e481037c354b66ab5793b633a41f1f"
	},
	"preprocessor": "player.js",
	"name": "Jason Aldean"
}
}}

<section class="wrapper">
	<div class="video_wrapper">
		{{> video}}
	</div>
</section>
