<div class="usernames" id="usernames"></div>
<section id="video_player1" class="video_player closed" >
    <video id="v1">
        <source src="" type="video/mp4" webkit-playsinline="webkit-playsinline">
    </video>
</section>
<section id="video_player2" class="video_player closed">
    <video id="v2">
        <source src="" type="video/mp4" webkit-playsinline="webkit-playsinline">
    </video>
</section>
<section id="video_player3" class="video_player ">
    <video id="v3">
        <source src="" type="video/mp4" webkit-playsinline="webkit-playsinline">
    </video>
</section>
<div class="cover">
    <div class="play_img " id="play_img"><h1>Be in <img src="/images/ja-logo.png" alt="Jason Aldean" class="ja-logo" />
 <span class="song-title">"Night Train"</span> Music Video!</h1><img src="/images/play.png" alt="play" /><br/><img src="/images/iglogo.png" class="iglogo" alt="instagram"/><h1>Your dance moves to <br/> <span>#KBRadioDance</span></h1></div>
    <div class="end_img closed" id="end_img">
        <h2>Pre-order Your Copy
        of the ‘Jason Aldean:
        Night Train To Georgia’
        DVD Today! Only Place to
        Get a Signed Version</h2>
        <img src="/images/ja-dvd-cover.jpg">
        <a href="http://www.jasonaldean.com/item/accessories/jason-aldean-night-train-to-georgia-dvd-pre-order-physical_3#.UjUgNxahC5R" class="pre-order" target="_blank"><img src="/images/arrow.png" alt="pre-order" />pre-order now</a>
        <h2>Live Stream Jason Aldean's "Night Train To Georgia" DVD and Chat with Jason LIVE on <span>10/14/2013</span> at
<a href="http://facebook.com/jasonaldean" class="fLink" target="_blank">Facebook.com/JasonAldean</a></h2>
    </div>
</div>
<img src="/images/banner.png" class="banner" alt="Nigh Train to Georgia on DVD 10/15" />
<div class="video-info">
    <p>Jason Aldean</p>
    <p>"Night Train"</p>
    <p>Night Train (2012)</p>
    <p>Broken Bow Records</p>
</div>