/* Video */
.video_wrapper{
    display: block;
    height: 470px;
    margin: -3.1em auto 0;
    max-width: 36em;
    position: relative;
    width: 470px;
    .cover{
        background-image: url("/images/player-bg.png");
        background-size: cover;
        -webkit-box-shadow: 1px 1px 50px 5px rgba(255, 255, 255, 0.3);
        box-shadow: 1px 1px 50px 5px rgba(255, 255, 255, 0.3);
        height: 300px;
        position: absolute;
        width: 470px;
        background-position: bottom center;
        z-index: 10;
        top: 50%;
        text-align: center;
        margin-top: -11.5em;
    }
    .banner{
        position: absolute;
        top: -0.5em;
        right: -2.2em;
        width: 200px;
        z-index: 10;
        @include transition-property(opacity);
        @include transition-duration(2s);
        @include transition-timing-function(ease-in);
    }
    .play_img{
        background-image: image-url('new_cover.jpg'); 
        background-size: cover;
        cursor: pointer;
        height: 99%;
        position: absolute;
        opacity: 1;
        top: 0;
        width: 100%;
        z-index: 2;
        @include transition-property(opacity);
        @include transition-duration(2s);
        @include transition-timing-function(ease-in);
        img{
            margin: -0.5em auto 0;
            width: 100px;
        }
        .iglogo{
            margin: -0.8em auto 0;
            width: 150px;
        }
        .ja-logo{
            width: 100px;
            position: relative;
            top: 0.4em;
            left: -0.5em;
        }
    }
    .end_img{ 
        background-image: image-url('cover.png'); 
        background-size: cover;
        cursor: pointer;
        height: 99%;
        opacity: 1;
        position: absolute;
        top: 0;
        padding: 2em;
        width: 100%;
        z-index: 1;
        @include transition-property(opacity);
        @include transition-duration(2s);
        @include transition-timing-function(ease-in);
    }
    video{
		height: 100%;
		margin: 0 auto;
		position: absolute;
		width: 100%;
    }
    #v1{
        margin: -1.5em 0 0;
        z-index: 0;
        -webkit-mask-box-image: image-url("mask.png");
    }
    #v2{
        margin: -1.5em 0 0;
        z-index: 1;
        -webkit-mask-box-image: image-url("mask.png");
    }
    #v3{
        height: 560px;
        margin-top: -314px;
        top: 50%;
        width: 471px;
        z-index: 2;
        -webkit-mask-box-image: url("/images/jason-mask.png");
    }
    .usernames{
        font-family: Oswald, sans-serif;
        font-size: 0.8em;
        font-weight: 200;
        letter-spacing: 0.1em;
        position: absolute;
        right: 3em;
        bottom: 12em;
        z-index: 15;
        ul{
            display: inline-block;
            list-style: none;
        }
        li:nth-child(1){
            background-image:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iLTAuOSAtMC44IDYxIDYxIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0ZGRkZGRiIgZD0iTTcuNywwaDQ0LjVjNC4yLDAsNy43LDMuNSw3LjcsNy43djQ0LjVjMCw0LjItMy41LDcuNy03LjcsNy43SDcuN2MtNC4yLDAtNy43LTMuNS03LjctNy43VjcuN0MwLDMuNSwzLjUsMCw3LjcsMEw3LjcsMHogTTQzLjYsNi43Yy0xLjUsMC0yLjcsMS4yLTIuNywyLjd2Ni41YzAsMS41LDEuMiwyLjcsMi43LDIuN2g2LjhjMS41LDAsMi43LTEuMiwyLjctMi43VjkuNGMwLTEuNS0xLjItMi43LTIuNy0yLjdINDMuNkw0My42LDYuN3ogTTUzLjEsMjUuM2gtNS4zYzAuNSwxLjYsMC44LDMuNCwwLjgsNS4xYzAsMTAtOC4zLDE4LTE4LjYsMThzLTE4LjYtOC4xLTE4LjYtMThjMC0xLjgsMC4zLTMuNSwwLjgtNS4xSDYuN3YyNS4zQzYuNyw1Miw3LjcsNTMsOSw1M2g0MS43YzEuMywwLDIuNC0xLjEsMi40LTIuNFYyNS4zTDUzLjEsMjUuM3ogTTMwLDE4LjJjLTYuNiwwLTEyLDUuMi0xMiwxMS43YzAsNi40LDUuNCwxMS43LDEyLDExLjdzMTItNS4yLDEyLTExLjdDNDIsMjMuNCwzNi43LDE4LjIsMzAsMTguMnoiLz48L3N2Zz4=);
            background-size:100%; 
            background-repeat:no-repeat;
            background-position:center center;
            height: 1.5em;
            margin-right: 1em;
            width: 1.5em;
        }
        li{
            float: left;
        }
    }
    .video-info{
        position: absolute;
        bottom: 10em;
        opacity: 0;
        right: 3em;
        z-index: 25;
        @include transition-property(opacity);
        @include transition-duration(2s);
        @include transition-timing-function(ease-in);
        p{
            font-size: 0.8em;
            font-weight: 200;
            line-height: 1.5em;
            text-align: right;
            letter-spacing: 0.15em;
        }
        .ja-logo{
            width: 100px;
            position: relative;
            top: 0.4em;
            left: -0.5em;
        }
    }
}