.hash-info{
	background-image: url('/images/hashBg.png');
	background-size: cover;
	left: 6.5em;
	padding: 1.5em 0.5em;
	position: absolute;
	top: 14em;
	width: 12em;
	height: 12em;
	z-index: 20;
	@media screen and (max-width: 63em){
		background-image: none;
		@include rgba-background($slate, 0.2);
		margin: 0em auto -7em;
		max-width: 36em;
		position: static;
		width: 90%;
	}
	@media screen and (max-width: 40em){
		display: none;
	}
	.tag{
		margin: 0 0 -1em;
	}
}