/* Logo */
.logo{
	padding: 2em;
	width: 100%;
	h1{
		color: $white;
		font-family: 'Oswald', sans-serif;
		font-size: 3em;
		font-weight: 700;
		letter-spacing: 0.1em;
		text-align: center;
		text-transform: uppercase;
	}
}