/* phone  styles */
.phone_wrapper{
	@media screen and (max-width : 40em)  {
		display: block;
		height: 10em;
		margin: 5em  auto 0;
		padding: 2em 1em;
		position: relative;
		text-align: center;
		top: 1em;
		width: 100%;
		@include rgba-background($slate, 0.2);
	}
	@media screen and (min-width: 40em){
		display: none;
	}
}