/* All your CSS starts here!
   Use SASS/CSS imports to pull in more files.
   The Grunt scripts will automatically merge all these files into /compiled/styles.css */
/* colos */
/*Fonts*/
/* line 2, /Users/nattkua/Clients/modulus/jason/assets/styles/_fonts.scss */
p {
  font-family: 'Oswald', sans-serif;
  font-size: 0.8em;
}

/* mixins */
/* main */
/* line 4, /Users/nattkua/Clients/modulus/jason/assets/styles/_main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 11, /Users/nattkua/Clients/modulus/jason/assets/styles/_main.scss */
html body {
  height: 100%;
  width: 100%;
}
/* line 12, /Users/nattkua/Clients/modulus/jason/assets/styles/_main.scss */
html body .wrapper {
  color: #efefef;
  background-image: url('/images/bg-format-01.jpg');
  background-size: cover;
  background-position: fixed;
  min-height: 100%;
  position: absolute;
  width: 100%;
}

/* Video */
/* line 2, /Users/nattkua/Clients/modulus/jason/assets/styles/_video.scss */
.video_wrapper {
  height: 50em;
  margin: 0 auto;
  max-width: 50em;
  position: relative;
  width: 100%;
  position: relative;
  background: #efefef;
  background: rgba(239, 239, 239, 0.2);
}
/* line 9, /Users/nattkua/Clients/modulus/jason/assets/styles/_video.scss */
.video_wrapper .letterbox-top {
  background-color: #000;
  height: 10em;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 9;
}
/* line 17, /Users/nattkua/Clients/modulus/jason/assets/styles/_video.scss */
.video_wrapper .letterbox-bottom {
  background-color: #000;
  bottom: 0;
  height: 10em;
  position: absolute;
  width: 100%;
  z-index: 9;
}
/* line 25, /Users/nattkua/Clients/modulus/jason/assets/styles/_video.scss */
.video_wrapper .cover {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;
}
/* line 31, /Users/nattkua/Clients/modulus/jason/assets/styles/_video.scss */
.video_wrapper .play_img {
  background-image: url('/images/ja_cover.jpg');
  background-size: cover;
  cursor: pointer;
  height: 100%;
  position: absolute;
  opacity: 1;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 45, /Users/nattkua/Clients/modulus/jason/assets/styles/_video.scss */
.video_wrapper .end_img {
  cursor: pointer;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  padding: 3em;
  width: 100%;
  z-index: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 58, /Users/nattkua/Clients/modulus/jason/assets/styles/_video.scss */
.video_wrapper video {
  display: block;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}
/* line 65, /Users/nattkua/Clients/modulus/jason/assets/styles/_video.scss */
.video_wrapper #v1 {
  z-index: 0;
}
/* line 68, /Users/nattkua/Clients/modulus/jason/assets/styles/_video.scss */
.video_wrapper #v2 {
  z-index: 1;
}
/* line 71, /Users/nattkua/Clients/modulus/jason/assets/styles/_video.scss */
.video_wrapper #v3 {
  height: 37.5em;
  margin-top: -18.75em;
  top: 50%;
  width: 50em;
  z-index: 2;
}
/* line 78, /Users/nattkua/Clients/modulus/jason/assets/styles/_video.scss */
.video_wrapper .usernames {
  font-family: Oswald, sans-serif;
  font-size: 0.8em;
  font-weight: 100;
  letter-spacing: 0.1em;
  position: absolute;
  right: 2em;
  top: 1em;
  z-index: 5;
}
/* line 88, /Users/nattkua/Clients/modulus/jason/assets/styles/_video.scss */
.video_wrapper .controls {
  bottom: 0;
  position: relative;
  background: #282828;
  background: rgba(40, 40, 40, 0.2);
  left: 0;
  padding: 1.2em;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 4;
}
/* line 98, /Users/nattkua/Clients/modulus/jason/assets/styles/_video.scss */
.video_wrapper button {
  padding: 1.2em;
}

/* social */
/* line 2, /Users/nattkua/Clients/modulus/jason/assets/styles/_social.scss */
footer {
  padding: 2em;
  text-align: center;
  width: inherit;
}

/* line 11, /Users/nattkua/Clients/modulus/jason/assets/styles/_social.scss */
.icon {
  background-color: #666666;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  height: 2em;
  width: 2em;
}
/* line 18, /Users/nattkua/Clients/modulus/jason/assets/styles/_social.scss */
.icon a {
  display: block;
  height: 100%;
  width: 100%;
}

/* line 26, /Users/nattkua/Clients/modulus/jason/assets/styles/_social.scss */
.facebook {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iLTAuNyAtMC42IDEzNCAyNzgiPjxzdHlsZT4uc3R5bGUwe2ZpbGw6CSNGRkZGRkY7fTwvc3R5bGU+PHBhdGggZD0iTTgyLjYgNThjMCAwLTAuNy01LjUgNC40LTkuNmM1LjEtNCA5LjktMy43IDkuOS0zLjdjMTIuOS0xLjYgMjkuOCAyLjYgMjkuOCAyLjZsNS45LTQyLjdjMCAwLTU5LjctMTQuMy04NS45IDcuMkMyOS41IDI0LjUgMjkuMyA0My43IDI5LjMgNDMuN3Y0Ny43SDAuMmwtMC4yIDQyaDI5LjRsLTEuMSAxNDMuMWw1Mi44IDAuM2wwLjMtMTQzLjRoNDMuMWwyLjktNDEuOWwtNDUuMS0wLjJMODIuNiA1OHoiIGNsYXNzPSJzdHlsZTAiLz48L3N2Zz4=);
  background-size: 25%;
}
/* line 29, /Users/nattkua/Clients/modulus/jason/assets/styles/_social.scss */
.facebook:hover {
  background-color: #3664A2;
}

/* Logo */
/* line 2, /Users/nattkua/Clients/modulus/jason/assets/styles/_logo.scss */
.logo {
  padding: 2em;
  width: 100%;
}
/* line 5, /Users/nattkua/Clients/modulus/jason/assets/styles/_logo.scss */
.logo h1 {
  color: #efefef;
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

/* Animation */
/* line 4, /Users/nattkua/Clients/modulus/jason/assets/styles/_animation.scss */
.video_wrapper .video_player {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 9, /Users/nattkua/Clients/modulus/jason/assets/styles/_animation.scss */
.closed, .video_wrapper .cover .closed {
  opacity: 0;
}
